<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Digital Clock</title>
    <link rel="stylesheet" href="/css/clock.css" />
  </head>
  <body>
    <div id="clock" class="dark">
      <div class="display">
        <div class="weekdays"></div>
        <div class="ampm"></div>
        <div class="alarm"></div>
        <div class="digits"></div>
      </div>
    </div>

    <!-- JavaScript Includes -->
    <script src="/js/dependencies/jquery-1.10.1.min.js"></script>
    <script src="/js/dependencies/moment.min(2.0.0).js"></script>
    <script src="/js/clock.js"></script>
  </body>
</html>
