<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/dependencies/bootstrapv3.3.7.min.css">
</head>
<body>
    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="creator-text">
                        <img class="creator" src="/img/Creator.jpg" alt="creator image">
                        <a href="/about">Koushik Saha</a>
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a target="_blank" href="https://www.youtube.com/c/arootuser?sub_confirmation=1"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/Rootsharmi/"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/rootsharmi/"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="https://stackoverflow.com/users/11916918/koushikask/"><i class="fab fa-stack-overflow" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="https://github.com/Koushikask/"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>