<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <!-- Author Meta -->
    <meta name="author" content="Koushik" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- Title Logo Set -->
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <!-- Site Title Set -->
    <title>Aroot User | Forget</title>

    <!-- Custom CSS Add -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Font Awesome CSS Add -->
    <link rel="stylesheet" href="/css/all.min.css" />
</head>

<body>
    <!-- Full Header -->
    <header class="header">
        <!-- Back Layers -->
        <div class="open">
            <div class="open__layer"></div>
        </div>

        <div class="back">
            <div class="back__triangle"></div>
        </div>
    </header>
    <div class="menu__brand">
        <img src="/img/logo1.png" alt="Brand Logo" title="The Brand Logo">
    </div>

    <!-- <section class="login-section"> -->
    <div class="login--content forget-content">
        <div class="agile_info">
            <!-- Content -->
            <div class="w3_info">
                <h2>Forget Password</h2>
                <form name="forget-form" action="/user/forgot" method="POST">
                    <div class="left">
                        <label>Email Address</label>
                        <div class="input-group" title="Email id must be this type like - abc@xyz.com">
                            <span><i class="fas fa-envelope-open" aria-hidden="true"></i></span>
                            <input type="email" placeholder="abc.d-e@gmail.com" name="email" class="email-id"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" autofocus required />
                        </div>
                    </div>
                    <button class="btn-form btn-danger btn-block" type="submit" name="sumbit">
                        Reset Password
                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
            <div class="w3l_form">
                <div class="left_grid_info">
                    <h3>Forget Pass?</h3>
                    <br />
                    <p class="text">
                        So, Here You Enter your account Email if it exist we sent an mail with reset link.
                    </p>
                    <a href="/user/login" class="btn-form btn-with-1">Go To Login<i class="fas fa-chevron-right"
                            aria-hidden="true"></i></a>
                    <a href="/user/signup" class="btn-form btn-with-2">Create Account
                        <i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>