<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta character set -->
  <meta charset="UTF-8" />
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <!-- Author Meta -->
  <meta name="author" content="Koushik" />
  <!-- Meta Description -->
  <meta name="description" content="" />
  <!-- Meta Keyword -->
  <meta name="keywords" content="" />
  <!-- Title Logo Set -->
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
  <!-- Site Title Set -->
  <title>Aroot User | Technologies</title>

  <!-- Custom CSS Add -->
  <link rel="stylesheet" href="/css/style.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>

  <!-- Font Awesome CSS Add -->
  <link rel="stylesheet" href="/css/all.min.css" />
</head>

<body>
  <!-- Full Header -->
  <%- include('partials/header') %>

  <div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="/img/icon/js.svg" alt="Express.jS Pic">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">As Front-end and Server Language</span>
          <div class="blog-slider__title">JavaScript</div>
          <div class="blog-slider__text">JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm. </div>
          <a href="https://www.javascript.com/" class="blog-slider__button">READ MORE</a>
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="/img/icon/Node.js.svg" alt="Node.JS Pic">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">As Runtime Built</span>
          <div class="blog-slider__title">Node. JS</div>
          <div class="blog-slider__text">Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside of a web browser. </div>
          <a href="https://nodejs.org/en/" class="blog-slider__button">READ MORE</a>
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="/img/icon/express-js.svg" alt="Express.jS Pic">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">As Server Framework</span>
          <div class="blog-slider__title">Express. JS</div>
          <div class="blog-slider__text">Express. js is a Node js web application server framework, which is specifically designed for building single-page, multi-page, and hybrid web applications. </div>
          <a href="https://www.npmjs.com/package/express" class="blog-slider__button">READ MORE</a>
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="/img/icon/mongodb.svg" alt="MongoDB Pic">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">As the Database</span>
          <div class="blog-slider__title">MongoDB</div>
          <div class="blog-slider__text">MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas. </div>
          <a href="https://www.mongodb.com/" class="blog-slider__button">READ MORE</a>
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="/img/icon/socket-io.svg" alt="Socket.IO Pic">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">As the Main tech behind Real-time Data Transfer</span>
          <div class="blog-slider__title">Socket. IO</div>
          <div class="blog-slider__text">Introducing the Socket.IO P2P, the easiest way to establish a bidirectional events channel between two peers with a server fallback to provide maximum reliability. Socket.IO is used to transport signaling data and as a fallback for clients where the WebRTC PeerConnection is not supported. </div>
          <a href="https://www.mongodb.com/" class="blog-slider__button">READ MORE</a>
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img class="markup" src="/img/icon/html-5.svg" alt="HTML Pic">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">As Standard Mmarkup Language</span>
          <div class="blog-slider__title">HTML 5</div>
          <div class="blog-slider__text">HTML (HyperText Markup Language) is the most basic building block of the Web. It defines the meaning and structure of web content. </div>
          <a href="https://html.com/" class="blog-slider__button">READ MORE</a>
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="/img/icon/css-3.svg" alt="CSS Pic">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">As Style Sheet Language</span>
          <div class="blog-slider__title">CSS 3</div>
          <div class="blog-slider__text">Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language like HTML. </div>
          <a href="https://cssreference.io/" class="blog-slider__button">READ MORE</a>
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="/img/icon/json-5.svg" alt="JSON Pic">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">As Data Stored Format</span>
          <div class="blog-slider__title">JSON 5</div>
          <div class="blog-slider__text">JSON, or JavaScript Object Notation, is the wildly popular standard for data interchange on the web, on which BSON (Binary JSON) is based. </div>
          <a href="https://www.json.org/json-en.html" class="blog-slider__button">READ MORE</a>
        </div>
      </div>

    </div>
    <div class="blog-slider__pagination"></div>
  </div>

  <!-- Footer Part -->
  <%- include('partials/footer') %>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
  <script>
    var swiper = new Swiper('.blog-slider', {
      spaceBetween: 30,
      effect: 'fade',
      loop: true,
      mousewheel: {
        invert: false,
      },
      // autoHeight: true,
      pagination: {
        el: '.blog-slider__pagination',
        clickable: true,
      }
    });
  </script>
</body>

</html>