/* Hambergar Menu Right-Top */
.open {
    position: fixed;
    top: 15px;
    right: 30px;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;

    z-index: 9;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.open span {
    display: block;
    float: left;
    clear: both;
    height: 3px;
    width: 30px;
    border-radius: 30px;
    background-color: rgb(77, 77, 77);
    position: absolute;
    right: 3px;
    top: 3px;
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    transition: all 0.2s ease;
}

.open span:nth-child(1) {
    margin-top: 10px;
    z-index: 9;
}

.open span:nth-child(2) {
    margin-top: 20px;
}

.open span:nth-child(3) {
    margin-top: 30px;
}

.sub-menu {
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    height: 0;
    width: 0;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 50%;
    z-index: 18;
    overflow: hidden;
}

.sub-menu li {
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -160px;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child {
    margin-top: 180px;
}

.sub-menu li:nth-child(1) {
    transition-delay: .05s;
    -webkit-transition-delay: 0.05s;
}

.sub-menu li:nth-child(2) {
    transition-delay: .10s;
    -webkit-transition-delay: 0.10s;
}

.sub-menu li:nth-child(3) {
    transition-delay: .15s;
    -webkit-transition-delay: 0.15s;
}

.sub-menu li:nth-child(4) {
    transition-delay: .20s;
    -webkit-transition-delay: 0.20s;
}

.sub-menu li:nth-child(5) {
    transition-delay: .25s;
    -webkit-transition-delay: 0.25s;
}

.sub-menu li a {
    color: #fff;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    display: block;
    float: left;
    line-height: 40px;
}

.sub-menu li a:hover {
    text-decoration: underline;
}

.oppenned .sub-menu {
    opacity: 1;
    height: 400px;
    width: 400px;
}

.oppenned span:nth-child(2) {
    overflow: visible;
}

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
    z-index: 100;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.oppenned span:nth-child(1) {
    -webkit-transform: rotate(45deg) translateY(12px) translateX(12px);
    transform: rotate(45deg) translateY(12px) translateX(12px);
}

.oppenned span:nth-child(2) {
    height: 400px;
    width: 400px;
    right: -160px;
    top: -160px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.54);
}

.oppenned span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);
    transform: rotate(-45deg) translateY(-10px) translateX(10px);
}

.oppenned li {
    margin-right: 168px;
}